nav ul {
    list-style: none;
}
nav ul li {
    float: left;
    cursor: pointer;
}
button,
.but {
    display: inline-block;
    padding: 7px 14px;
    border: 1px solid #b5b5b5;
    border-radius: 1px;
    background-color: transparent;
    color: inherit;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.15s ease 0s;
    -moz-user-select: none;
}
.notice {
    padding: 15px;
    margin-bottom: 20px;
    border: medium none;
}
label {
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 100px;
}
input {
    padding: 10px 12px;
    color: #aaa;
    border: solid 1px #ccc;
    width: 300px;
}
/*
.FlexEmbed {
    display: block;
    overflow: hidden;
    position: relative;
}
.FlexEmbed:before {
    content: "";
    display: block;
    padding-bottom: 100%;
    width: 100%;
}
.FlexEmbed--16by9:before {
    padding-bottom: 56.25%;
}
*/
.coverpic {
    display: block;
    overflow: hidden;
    position: relative;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    max-height: 300px;
    width: 100%;
}
.coverpic:before {
    content: "";
    display: block;
    padding-bottom: 100%;
    width: 100%;
    padding-bottom: 56.25%;
}